<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Chat App</title>
  <style media="screen">
  body {
    padding: 10;
    margin: 10;
    /* display: flex;
    justify-content: center; */
  }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <h1>Welcome to Mockbuster Chat Rooms!!</h1>

  <div class="" id="room-container">
    {{#each rooms}}<button type="button" class="col-10 hub-buttons btn btn-danger btn-lg"> {{@key}}: {{room}} <a href="/chat/{{@key}}">Join</a></button>
    <br><br> {{/each}}
  </div>
  <hr>
  <form class="" action="/chat/room" method="post">
    <input type="text" name="room" required>
    <button type="submit" name="button">New Room</button>
  </form>
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
