<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Chat</title>
  <style media="screen">
  #chat{
    height: 500px;
  }
  #contentWrap{
    display:none;
  }
  #chatWrap{
    float: left;
    border: 1px #000 solid;
  }
  /* .msg{
    color: green;
  } */
  .error{
    color: red;
  }
  .private{
    color: pink;
    font-style: italic;
  }
  </style>
</head>
<body>
  <div class="" id="nickWrap">
    <p>Enter your username</p>
    <p id="nickError"></p>
    <form id="setNick" action="index.html" method="post">
      <input type="text" id="nickname">
      <input type="submit">
    </form>
  </div>
  <div class="" id="contentWrap">
    <div class="" id="chatWrap">
      <div class="" id="chat"></div>
      <form class="" id="send-message" action="index.html" method="post">
        <input type="text"  id="message" name="message">
        <input hidden type="text"  name="user">
        <input type="submit">
      </form>
    </div>
    <div class="" id="users"></div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/script.js">
  </script>
</body>
</html>
