<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <metacharset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css" />

  <title>MockBuster - Chat Room</title>
  <style media="screen">
  #message-container{
    width: 80%;
    max-width: 1200px;
  }
  #message-container div{
    background-color: #CCC;
    padding: 5px;
  }
  #message-container div:nth-child(2n){
    background-color: #FFF;
  }
  #send-container {
    /* position: fixed; */
    padding-bottom: 30px;
    padding-top: 100px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }
  </style>
</head>
<body>
  <!-- Header -->
  {{> header }}
  <!-- /.Header -->
  <div class="each-event">
    <div class="container-fluid background-jumbotron callout-container">
      <div class="opaque-overlay">&nbsp;</div>
      <div class="col-4 form-background"  style="padding-top: 30px; padding-bottom: 20px;">
        <div id="message-container" style="padding-bottom: 50px; padding-top: 20px;"></div>
        <form id="send-container" action="/chat">
          <input type="text" id="message-input" name="message" value="">
          {{#users}}
          <input type="text" id="user-input" name="user" value="{{this._id}}">
          {{/users}}
          <button type="submit" id="send-button">Send</button>
        </form>
        <a style="margin-left: 20px;" href="/chat"><button type="button">Leave Room</button></a>
        <div class="" id="users">

        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  {{> footer }}
  <!-- /.Footer -->
  <script type="text/javascript">
  var roomName = "{{roomName}}"
  </script>
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
