<footer class="container-fluid footer-container text-center">
  <div class="col-12">
    <p class="inline-block ">
      <i class="far fa-clock "></i>Mondays - Sunday 11 am until 6 pm.
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-map-marker-alt "></i>We are located at our streaming service.
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-at "></i>info@mockbuster.co.uk</br>
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-phone "></i>0208 12345678
    </p>
  </div>
  <div class="col-12 ">

    <ul class="list-inline social-links ">
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Facebook</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Twitter</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">LinkedIn</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Pinterest</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Instagram</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">YouTube</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  //handler to trigger sum event
  $(".films").each(function() {
    calculateTotal();
  });
});

function calculateTotal() {
  var sum = 0;
  //iterate through each and add the values
  $(".films").each(function() {
    //add only if the value is number
    if(!isNaN(this.value) && this.value.length!=0) {
      sum += parseFloat(this.value);
    }
  });
  //.toFixed() method will roundoff the final sum to 2 decimal places
  $("#total").html(sum.toFixed(2));
}
</script>
