<div class="each-event">
  <div class="container-fluid background-jumbotron callout-container">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="col-4 form-background"  style="padding-top: 70px; padding-bottom: 70px;  margin-bottom: 320px;">
      <h2 style="margin-left:60px;">Please <a href="/manager/login">Login</a>/<a href="/manager">Sign Up</a></h2>
    </div>
  </div>
</div>
