<!DOCTYPE html>
<html lang="en">

<head>
  <metacharset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css" />

  <title>MockBuster - Employee Hub</title>
</head>

<body>

  <!-- Header -->
  <header>
    <div class="container-fluid header-container">
      <div class="row no-gutters">
        <a class="col-md-2 logo" href="/"></a>

        <nav class="col-md-10 navbar navbar-expand-sm navbar-light bg-white">
          <a class="navbar-brand" href="/employee/em_hub">Employee Hub</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><!-- This compenent is what provides the three bar icon for the button --></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!-- The id name must match the data-target seen in row 27 -->
              <ul class="navbar-nav">
                <li class="nav-item dropdown" style="padding-left: 700px;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-key"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin-left: 650px;">
                    <a class="dropdown-item" href="/employee">Employees</a>
                    <a class="dropdown-item" href="/manager">Managers</a>
                    <a class="dropdown-item" href="/employee/session/destroy">Log Out<i class="fas fa-sign-out-alt float-right"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

        </div>
      </div>
    </header>
    <!-- /.Header -->

    <!-- Callout -->
    {{#employees}}
    <div class="container-fluid background-jumbotron callout-container">
      <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
          <div class="col-12 justify-content-md-center" >
          <h1 style="color: white; margin-top:20px;">Welcome to the Employee Hub, {{this.em_first_name}} </h1>
<br>
      <div class="row" style="z-index: 1; margin-top: 100px; margin-bottom:150px;">
          <div class="col-12">
            <a href="/employee/account"><button type="button" class="btn btn-primary btn-lg">Account</button></a>
            <a href="#"><button type="button" class="btn btn-secondary btn-lg">Customer Suggestions</button></a>
            {{!-- <div class="w-100"></div> --}}
            <button type="button" class="btn btn-success btn-lg">HR</button>
            <button type="button" class="btn btn-danger btn-lg">Film Library</button>
            {{!-- <div class="w-100"></div> --}}
            <button type="button" class="btn btn-warning btn-lg">Customer Feedback</button>
            <button type="button" class="btn btn-info btn-lg">Button</button>
            {{!-- <div class="w-100"></div> --}}
            <button type="button" class="btn btn-light btn-lg">Button</button>
            <a href="/auth/session/destroy"><button type="button" class="btn btn-dark btn-lg"><i class="fas fa-sign-out-alt float-right"></i></button></a>
          </div>
        </div>
<br>
    </div>
    </div>
    </div>
    {{/employees}}

<!-- Footer -->
<footer class="container-fluid footer-container text-center">
  <div class="col-12">
    <p class="inline-block ">
      <i class="far fa-clock "></i>Mondays - Sunday 11 am until 6 pm.
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-map-marker-alt "></i>We are located at our streaming service.
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-at "></i>info@mockbuster.co.uk</br>
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-phone "></i>0208 12345678
    </p>
  </div>
  <div class="col-12 ">

    <ul class="list-inline social-links ">
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Facebook</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Twitter</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">LinkedIn</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Pinterest</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Instagram</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">YouTube</span>
        </a>
      </li>
    </ul>
  </div>

</footer>
<!-- /.Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
