<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
<h1>Sign up</h1>
<form class="" action="/user" method="post">
  <div class="formbox">
  <input type="text" class="inputbody in1" name= "first_name" placeholder="First name" required>
  <input type="text" class="inputbody in1 fr" name= "last_name" placeholder="Last name" required>
  </div>
  <div class="formbox">
  <input type="text" class="inputbody in2" name= "email" placeholder="Email" id='email' required>
  </div>
  <div class="formbox">
  <input type="password" class="inputbody in2" name= "password" placeholder="New password" required>
  </div>
      <div class="formbox">
        <div class="agree">
          By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.
        </div>
      </div>
      <br>
      <div class="formbox">
        <button type="submit" class="signbut bolder" value = "Submit">Submit</button>
      </div>
</form>

</script>
  </body>
</html>
