<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MockBuster</title>
  </head>
  <body>
    <h1>Welcome to MockBuster!!!!!!!!</h1>
    <a href="/films/index">Library</a>
    {{#each films}}
    <div class="each-event">
      <div class="event-description">
        <li>{{this.name}}</li>
      </div>
    </div>
    {{/each}}
  </body>
</html>
