<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Log in</h1>
    <br>
    <table class="tablewrapper">
      <form class="" action="/auth" method="post">
        <tr>
          <td class="row1">Email</td>
          <td class="row2">Password</td>
        </tr>
        <tr>
          <td><input type="text" name="email" class="inputtext">
          </td>
          <td><input type="text" name="password" class="inputtext">
          </td>
          <td><button type="submit" value ="Submit" class="navbut2" >Log In</button></td>
        </tr>
      </form> 
      </table>


  </body>
</html>
