<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>

    {{#each films}}
    <div>
      <div>
        <li style="color: black;">{{this.name}}</li>
      </div>
    </div>
    {{/each}}
  </body>
</html>
