<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz - Results</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <!-- Header -->
  {{> header }}
      <!-- /.Header -->
      <div class="each-event">
        <div class="container-fluid background-jumbotron callout-container">
          <div class="gamecontainer form-background">
            <div class="flex-center flex-column" id="end">
              <h1 style="margin-top:-150px;">Final Score</h1>
              <h1 id="finalScore" style="font-size: 80px; margin-top: -60px;"></h1>
              {{#users}}
              <form class="" action="index.html" method="post" style="margin-top: -40px;">
                <input class="quiz" type="text" name="username" id="username" placeholder="Player Name" value="{{this.firstname}}">
                <button type="submit" class="quizbtn" id="saveScoreBtn" onclick="saveHighScore(event)" disabled>Save</button>
              </form>
              {{/users}}
              <a class="quizbtn" href="/quiz/level">Play Again</a>
              <a class="quizbtn" href="/quiz">Go to Quiz Homepage</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {{> footer }}
      <!-- /.Footer -->

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/jquery.shop.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <script>
      $(function(){
        $('#searchName').autocomplete({
          source: function(req,res){

            $.ajax({
              url:"films/autocomplete/",
              dataType:"jsonp",
              type:"GET",
              data:req,
              success: function(data){
                res(data)

              },
              error: function(err){
                console.log(err.status);
              }
            });
          },

          minLength:1,
          select: function(event,ui){
            if(ui.item){
              $('#searchName').val(ui.item.label);
            }
          }
        });
      });
      </script>

      <!-- jquery to shrink logo and navbar on scroll -->
      <script>
      $( window ).scroll(function() {
        if($(window).scrollTop() > 70){
          $('.logo').css({'height': '70'});
        }else{
          $('.logo').css({'height': '120'});
        }

      });
      </script>
      <script src="/js/end.js"></script>
    </body>
    </html>
