<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz - High Scores</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/highscores.css">
  </head>
  <body>
    <div class="gamecontainer">
      <div class="flex-center flex-column" id="highScores">
        <h1 id="finalScore">High Scores</h1>
        <ul id="highScoresList"></ul>
        <a class="btn" href="/quiz">Go to Quiz Homepage</a>
      </div>
    </div>
    <script src="/js/highscores.js"></script>
  </body>
</html>
