<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="gamecontainer">
      <div class="flex-center flex-column" id="home">
        <h1>Pick A Level</h1>
        <a class="btn" href="/quiz/game">Easy</a>
        <a class="btn" href="/quiz/mediumgame">Medium</a>
        <a class="btn" href="/quiz/difficultgame">Difficult</a>
        <a class="btn" href="/quiz/highscores">High Scores</a>
      </div>
    </div>
  </body>
</html>
