<!DOCTYPE html>
<html lang="en">

<head>
  <metacharset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />
<style media="screen">
  nav{
    font-size: 120%;
  }
  #searchName{
    height: 38px;
    width: 192px;
    font-size: 100%
  }

</style>
  <title>MockBuster - Video Chat</title>
</head>

<body>

  <!-- Header -->
  <header>
    {{#if sessionFlash.message}}
    <div class="alert alert-{{ sessionFlash.type }} alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success:</strong> {{ sessionFlash.message }}
    </div>
    {{/if}}
    <div class="container-fluid header-container">
      <div class="row no-gutters">
        <a class="col-md-2 logo" href="/films"></a>
        <nav class="col-md-10 navbar navbar-expand-sm navbar-light bg-white">
          <a class="navbar-brand" href="/films"><i class="fas fa-photo-video"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><!-- This compenent is what provides the three bar icon for the button --></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!-- The id name must match the data-target seen in row 28 -->
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Genres
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/films/action">Action<i class="fas fa-radiation-alt float-right"></i></a>
                    <a class="dropdown-item" href="/films/biopic">Biopic<i class="fas fa-user-tie float-right"></i></a>
                    <a class="dropdown-item" href="/films/comedy">Comedy<i class="fas fa-theater-masks float-right"></i></a>
                    <a class="dropdown-item" href="/films/crime">Crime<i class="fas fa-mask float-right"></i></a>
                    <a class="dropdown-item" href="/films/drama">Drama<i class="fas fa-heartbeat float-right"></i></a>
                    <a class="dropdown-item" href="/films/fantasy">Fantasy<i class="fas fa-dragon float-right"></i></a>
                    <a class="dropdown-item" href="/films/history">History<i class="fab fa-fort-awesome float-right"></i></a>
                    <a class="dropdown-item" href="/films/horror">Horror<i class="fas fa-ghost float-right"></i></a>
                    <a class="dropdown-item" href="/films/kids">Kids<i class="fas fa-child float-right"></i></a>
                    <a class="dropdown-item" href="/films/legal">Legal<i class="fas fa-balance-scale float-right"></i></a>
                    <a class="dropdown-item" href="/films/musical">Musical<i class="fas fa-music float-right"></i></a>
                    <a class="dropdown-item" href="/films/romance">Romance<i class="fas fa-grin-hearts float-right"></i></a>
                    <a class="dropdown-item" href="/films/sports">Sports<i class="fas fa-futbol float-right"></i></a>
                    <a class="dropdown-item" href="/films/superhero">Superhero<i class="fab fa-superpowers float-right"></i></i></a>
                    <a class="dropdown-item" href="/films/thriller">Thriller<i class="far fa-surprise float-right"></i></a>
                    <a class="dropdown-item" href="/films/war">War<i class="fas fa-bomb float-right"></i></a>
                    <hr/>
                    <a class="dropdown-item" href="/films">Library<i class="fas fa-photo-video float-right"></i></a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    A-Z
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/films/a_to_e">A-E</a>
                    <a class="dropdown-item" href="/films/f_to_j">F-J</a>
                    <a class="dropdown-item" href="/films/k_to_o">K-O</a>
                    <a class="dropdown-item" href="/films/p_to_t">P-T</a>
                    <a class="dropdown-item" href="/films/u_to_z">U-Z</a>
                    <hr/>
                    <a class="dropdown-item" href="/films/zero_to_nine">0-9</a>
                    <hr/>
                    <a class="dropdown-item" href="/films">Library<i class="fas fa-photo-video float-right"></i></a>
                  </div>
                </li>

                <!-- Header - search box -->
                <li class="nav-item">
                  <form class="form-inline" action="/films/search"  method="get">
                    <div class="">
                      <div class="form-group">
                        <div class="col-md-12">
                          <input type="text" id="searchName" class="form-control" name="search" placeholder="Search Films...">
                        </div>
                      </div>
                    </div>
                    <input type="submit" class="form-control btn btn-primary" name="submit" value="Search">
                  </form>
                </li>
                <!-- /Header - /search box -->

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#users}}
                    {{this.firstname}}'s Account
                    {{/users}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/account">My Details<i class="fas fa-info-circle float-right"></i></a>
                    <a class="dropdown-item" href="/blog">Blog<i class="fas fa-blog float-right"></i></a>
                    <a class="dropdown-item" href="/videochat">Video Chat<i class="fas fa-video float-right"></i></a>
                    <a class="dropdown-item" href="/checkout">Checkout<i class="fas fa-shopping-cart float-right"></i></a>
                    <a class="dropdown-item" href="/auth/session/destroy">Log Out<i class="fas fa-sign-out-alt float-right"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- /.Header -->

    <!-- Callout -->
    <div class="each-event">
      <div class="container-fluid background-jumbotron callout-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="col-4 form-background col-8">
      <h1 style="text-align: center;">Video Chat</h1>
      <br>
      <h2>Welcome to Mockbuster's  Video Chat Room!</h2>
      <h4>Connect with other movie lovers and even join live interviews with industry insiders!</h4>
<br>
      <div class="ui two column stackable grid">

  <!-- Chat Section -->
  <div class="ui nine wide column">
    <div class="ui segment">
      <!-- Chat Room Form -->
      <div class="ui form">
        <div class="fields">
          <div class="field">
            <label>User Name</label>
            <input type="text" placeholder="{{this.firstname}}" id="username" name="firstname">
          </div>
          <br>
          <div class="field">
            <label>Room</label>
            <input type="text" placeholder="Enter room name" id="roomName" name="roomName">
          </div>
        </div>
        <br>
        <div class="ui buttons">
          <div id="create-btn" class="ui submit yellow button">Create Room</div>
          <div class="or"></div>
          <div id="join-btn" class="ui submit blue button">Join Room</div>
        </div>
      </div>
      <!-- Chat Room Messages -->
      <div id="chat"></div>
    </div>
  </div>
  <!-- End of Chat Section -->

  <!-- Local Camera -->
  <div class="ui six wide column">
    <h4 class="ui center aligned header" style="margin:0;">
      Local Camera
    </h4>
    <img id="local-image" class="ui large image" src="images/image.png" onerror="this.src='../images/blank-profile-picture.png';">
    <video id="local-video" class="ui large image hidden" autoplay></video>
  </div>

</div>

<!-- Remote Cameras -->
<h3 class="ui center aligned header">Remote Cameras</h3>
<div id="remote-videos" class="ui stackable grid">
  <div class="four wide column">
    <img class="ui centered medium image" src="images/image.png" onerror="this.src='../images/blank-profile-picture.png';">
  </div>
  <div class="four wide column">
    <img class="ui centered medium image" src="images/image.png" onerror="this.src='../images/blank-profile-picture.png';">
  </div>
  <div class="four wide column">
    <img class="ui centered medium image" src="images/image.png" onerror="this.src='../images/blank-profile-picture.png';">
  </div>
  <div class="four wide column">
    <img class="ui centered medium image" src="images/image.png" onerror="this.src='../images/blank-profile-picture.png';">
  </div>
</div>
<br>
    <!-- /.Callout -->

    <!-- Footer -->
    <footer class="container-fluid footer-container text-center">
      <div class="col-12">
        <p class="inline-block ">
          <i class="far fa-clock "></i>Mondays - Sunday 11 am until 6 pm.
        </p>
      </div>
      <div class="col-12">
        <p class="inline-block ">
          <i class="fas fa-map-marker-alt "></i>We are located at our streaming service.
        </p>
      </div>
      <div class="col-12">
        <p class="inline-block ">
          <i class="fas fa-at "></i>info@mockbuster.co.uk</br>
        </p>
      </div>
      <div class="col-12">
        <p class="inline-block ">
          <i class="fas fa-phone "></i>0208 12345678
        </p>
      </div>
      <div class="col-12 ">
        <ul class="list-inline social-links ">
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">LinkedIn</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Pinterest</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <!-- /.Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/jquery.shop.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script type="text/javascript">
    $('.like-btn').on('click', function() {
      $(this).toggleClass('is-active');
    });
    </script>

    <script>
    $(function(){
      $('#searchName').autocomplete({
        source: function(req,res){

          $.ajax({
            url:"films/autocomplete/",
            dataType:"jsonp",
            type:"GET",
            data:req,
            success: function(data){
              res(data)

            },
            error: function(err){
              console.log(err.status);
            }
          });
        },

        minLength:1,
        select: function(event,ui){
          if(ui.item){
            $('#searchName').val(ui.item.label);
          }
        }
      });
    });
    </script>

      <!-- jquery to shrink logo and navbar on scroll -->
      <script>
        $( window ).scroll(function() {
        if($(window).scrollTop() > 70){
          $('.logo').css({'height': '70'});
        }else{
            $('.logo').css({'height': '120'});
        }

        });
      </script>
  </body>

  </html>
